<h1>OpenShift Application Development Meetup Pizza Calculator</h1>
<img src=path.join(__dirname , "images" , "pizza.png")>
<p></p>
<form action="/calculate">
  <input type="text" name="hungry_engineers">   <label for="hungry_engineers">Hungry Engineers</label>  <input type="text" name="slices">    <label for="slices">Slices/engineer</label> <br> <br>
  <input type="submit" value="Calculate pizzas!">
</form>

